{:tasks {build-content {:doc "Build the html files"
                        :task (shell "bb build-content.clj")}
         build-styles {:doc "Build the css files"
                       :task (shell "npx tailwindcss -i styles.css -o dist/styles.css")}}}
